
@media (max-width:600px){
 
    /*------------------- NAVBAR -----------------*/
   .navbar ul{
        background: whitesmoke;
        width: 100%;
        margin-top: 80px;
        position: fixed;
        left: 0;
        height: 300px;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        font-size: larger;
        font-weight: 900;
        border-bottom: 2px solid black;
        transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
    .navbar i{
        display: block;
    }
    #toggle-menu:checked ~ .navbar-list {
        transform: translateY(0);
        display: flex;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    /*------------------- HERO -----------------*/

    #Hero{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        margin-top: 300px;
        margin-bottom: 12rem;
        background-image: none; /*ver, con esto quito la img que me molesta, ver solucion*/
    }


    #Hero .Img--Hero img{
        max-width: 300px;
    }

    #Hero .Textos--Hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #Hero .Textos--Hero h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1rem auto;
        font-size: 28px;
        max-width: 400px;
        margin-bottom: 1rem;
    }

    #Hero .Textos--Hero h2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1rem auto;
        font-size: 18px;
        max-width: 300px;
    }

    #Hero .Textos--Hero h3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1rem auto;
        text-align: center;
        font-size: 16px;
        max-width: 400px;
    }

    #Hero .Btn--Hero{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 15px;
        gap: 20px;   
    }

    #Hero .Btn--Hero .IniciaSesionBtn{
        width: 8rem;
        padding: 13px 10px;
        text-align: center;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    #Hero .Btn--Hero .Registro{
        width: 7rem;
        padding: 13px 10px;
        text-align: center;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    /*------------------- MISION SECCION -----------------*/

    #MisionSeccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 330px;
    }

    #MisionSeccion h2{
        font-size: 20px;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: black;
        line-height: 1.3;
        
        
    }

    #MisionSeccion p{
        max-width: 320px;
        text-align: center;
        
    }

    /*------------------- EL PROYECTO AND CARDS -----------------*/

    #ElProyecto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    #ElProyecto h3{
        text-align: center;
        max-width: 450px;
        line-height: 1.5;
    }

    #CardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        
        
    }

    #CardContainer .Cards-Proyecto{  
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 280px;
    }

    /*------------------- MAS INFO SECCION -----------------*/

    #MásInfoProyecto{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        max-width: 300px;
        line-height: 1.5;
    }

    #MásInfoProyecto h3{
        font-size: 18px;
        font-weight: 500;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: black;
        line-height: 1.3;
        
    }

    #MásInfoProyecto p{
        max-width: 300px;
        padding: 0.8px;
        text-align: center;

    }

    /*------------------- CONTACTO -----------------*/

    #Contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Contacto h3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    #Contacto p{
        max-width: 300px;
        padding: 0.8px;
        text-align: justify;
        
    }

    #Contacto .BTNContacto a{
        width: 8rem;
        padding: 13px 10px;
        text-align: center;
        
    }

    /*------------------- FOOTER -----------------*/

    footer{
        display: flex;
        flex-direction: column;
    }

    footer h4{
        max-width: 400px;
        padding: 10px;
        font-size: 17px;
    }

    /*------------------- FORMULARIOS -----------------*/

    #Registro{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        max-width: 500px;
    }

    #Registro img{
        max-width: 340px;
        
    }

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
    }

    form h2{
        max-width: 400px;
        text-align: center;
        font-size: 30px;
        line-height: 1.8;
    }

    .inputGroup{
        max-width: 300px;
    }

    .inputGroup .TerminosyCondiciones{
        text-align: center;
        max-width: 20rem;
        font-size: 16px;
    }

    .BTNRegistro{
        width: 7rem;
        padding: 13px 10px;
        text-align: center;
    }

    .TieneCuenta p a{
        font-size: larger;
    }
  
}


@media (max-width:770px){

    .navbar ul{
        gap: 40px;
        font-size: 18px;
    }

    #Hero{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4rem;
        width: 100%;
        height: 400px;
        max-width: 770px;
    }


    #Hero .Img--Hero img{
        max-width: 550px;
    }

    #Hero .Textos--Hero h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1rem auto;
        font-size: 28px;
        max-width: 500px;
        margin-bottom: 1rem;
    }

    #Hero .Textos--Hero h2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1rem auto;
        font-size: 18px;
        max-width: 500px;
    }

    #Hero .Textos--Hero h3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1rem auto;
        text-align: center;
        font-size: 16px;
        max-width: 400px;
    }

    #Hero .Btn--Hero{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
        gap: 20px;
        
    }

    #Hero .Btn--Hero .IniciaSesionBtn{
        width: 8rem;
        padding: 13px 10px;
        text-align: center;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    #Hero .Btn--Hero .Registro{
        width: 7rem;
        padding: 13px 10px;
        text-align: center;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    /*------------------- MISION SECCION -----------------*/

    #MisionSeccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px;
    }

    #MisionSeccion h2{
        font-size: 20px;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: black;
        line-height: 1.3;   
    }

    #MisionSeccion p{
        max-width: 500px;
        text-align: center;
        
    }

    /*------------------- EL PROYECTO AND CARDS -----------------*/

    #ElProyecto h3{
        text-align: center;
        max-width: 500px;
        line-height: 1.5;
        margin: 2rem auto;
    }

    #CardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 280px;
        
    }

    #CardContainer .Cards-Proyecto{
        
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*------------------- MAS INFO SECCION -----------------*/

    #MásInfoProyecto{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        max-width: 500px;
        line-height: 1.5;
    }

    #MásInfoProyecto h3{
        font-size: 18px;
        font-weight: 500;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: black;
        line-height: 1.3;
        
    }

    #MásInfoProyecto p{
        max-width: 500px;
        padding: 0.8px;
        text-align: center;

    }

    /*------------------- CONTACTO -----------------*/

    #Contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Contacto h3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    #Contacto p{
        max-width: 500px;
        padding: 0.8px;
        text-align: center;
        
    }

    #Contacto .BTNContacto a{
        width: 8rem;
        padding: 13px 10px;
        text-align: center;
        
    }

    /*------------------- FOOTER -----------------*/

    footer{
        display: flex;
        flex-direction: column;
    }

    footer h4{
        max-width: 400px;
        padding: 10px;
        font-size: 17px;
    }

    /*------------------- FORMULARIOS -----------------*/

    #Registro{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        gap: 100px;
    }

    #Registro img{
        max-width: 340px;
        
    }

    form{
        
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
    }


    form h2{
        max-width: 400px;
        text-align: center;
        font-size: 30px;
        line-height: 1.8;
    }

    .inputGroup{
        max-width: 300px;
    }

    .inputGroup .TerminosyCondiciones{
        text-align: center;
        max-width: 20rem;
        font-size: 16px;
    }

    .BTNRegistro{
        width: 7rem;
        padding: 13px 10px;
        text-align: center;
    }

    .TieneCuenta p a{
        font-size: 25px;
    }

}


