*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

/*------------- ANIMACIONES Y GENERALES HTML -----------------------*/

html{
    scroll-behavior: smooth;
    scroll-padding-top: 11rem; /*Ver que esta altura esté bien, para que la seccion no quede tapada. depende de la altura del navbar*/
}

/*------------------------------ NAVBAR -----------------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background: whitesmoke;
    position: fixed;
    width: 100%;
    height: 8rem;
    z-index: 1;

}

.header img{
    width: 100%;
    height: auto;
    max-width: 180px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 70px;
    font-weight: 500;
    font-size: 19px;
}

.navbar ul a:hover{
    font-weight: 900;
}

.navbar{
    display: flex;
}

/*------------------ ANIMATION NAVBAR -------------*/

.navbar .navbar-list li { 
    position: relative;
    padding: 0;
}
.navbar .navbar-list li a::after{
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform .4s ease;
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -ms-transition: transform .4s ease;
    -o-transition: transform .4s ease;
}
.navbar .navbar-list li a:hover::after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar i {
    font-size: 34px;
    display: none;
}

#toggle-menu{
    display: none;
}

.navbar-link {
    text-decoration: none;
    font-weight: 400;
    color: black;
}


main {
    padding-top: 20px; /*Esto es porque me estaba quedando un margin top arriba del navbar*/
}

body{
    background-color:whitesmoke
    
}

/*------------------- HERO --------------*/

#Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    gap: 4rem;
    width: 100%;
    height: 100vh;
    padding: 90px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    
    
}

#Hero .Textos--Hero{
    width: 100%;
    height: auto;
    max-width: 700px;
    margin-top: -10rem;
}

#Hero .Img--Hero img{
    width: 100%;
    height: auto;
    max-width: 550px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

#Hero .Textos--Hero h1 {
    margin-bottom: 1rem;
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    
} 

#Hero .Textos--Hero h2{
    margin-bottom: 0.5rem;
    font-size: 29px;
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#Hero .Textos--Hero h3{
    margin-bottom: 0.5rem;
    font-size: 22px;
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#Hero .Btn--Hero{
    display: flex;
    font-size: 16px;
    gap: 25px;
    margin-top: 2rem;
}

#Hero .Btn--Hero .IniciaSesionBtn{
    color: white;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    width: 9rem;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)   ;
}

#Hero .Btn--Hero .IniciaSesionBtn:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

#Hero .Btn--Hero .Registro{
    color: whitesmoke;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    width: 9rem;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)    ;
}

#Hero .Btn--Hero .Registro:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

/*----------------- MISION SECCION --------------*/

#MisionSeccion{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    max-width: 900px;
    margin: 2rem auto 2rem;/*mantenermargenessupeinf.yalineardesdeejeX*/
    padding: 20px;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

#MisionSeccion h2{
    margin-bottom: 4rem;
    font-weight: 600;
    font-size: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: whitesmoke;
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)
   
}

#MisionSeccion p{
    font-size: 19px;
    line-height: 1.5;
    max-width: 900px;
}

/*-------------------------- EL PROYECTO AND CARDS --------------*/

#ElProyecto{
    display: flex;
    justify-content: center;
    align-items: center;
}


#ElProyecto h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem;
    font-size: 27px;
    text-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);

}

#CardContainer{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    gap: 25px;
    margin-bottom: 3rem;
    text-align: center;
}


#CardContainer .Cards-Proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 10px;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

#CardContainer .Cards-Proyecto:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

#CardContainer .Cards-Proyecto img{
    max-width: 300px;
    text-align: center;
    margin-bottom: 1rem;
}

#CardContainer .Cards-Proyecto h3{
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: 800;
    
}

#CardContainer .Cards-Proyecto p{
    font-size: 18px;
    text-align: center;
    max-width: 400px;
    line-height: 1.5;
}

/*------------------------ MÁS INFO PROYECTO -------------*/

#MásInfoProyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#MásInfoProyecto h3{
    margin-bottom: 1rem;
    font-size: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    max-width: 850px;
    margin: 3rem auto 2rem;
    padding: 15px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: whitesmoke;
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    
   
}

#MásInfoProyecto p{
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 19px;
    max-width: 850px;
    line-height: 1.8;
    text-align: center;
}

/*--------------------------------- CONTACTO ------------------------*/

#Contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 3rem auto 6rem;
    max-width: 1200px;
}

#Contacto h3{
    font-size: 25px;
    margin-bottom: 1rem;
}

#Contacto p{
    font-size: 18px;
    line-height: 1.5;
    max-width: 600px;
    text-align: justify;
}

#Contacto .BTNContacto a{
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    padding: 15px 15px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
}

#Contacto .BTNContacto a:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

/*------------------- FOOTER ---------------------*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba( 207, 217, 223, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

footer h4{
    font-size: 20px;
    line-height: 1.8;
}

footer .LogoMicaBahurlet img{
    max-width: 180px;
}


/*-------------------REGISTRO AND INICIO DE SESIÓN---------------------*/

#Registro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 3rem auto;
}

#Registro img{
    margin-top: 11rem;
    max-width: 500px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}


/*------------------- FORMULARIOS ---------------------*/

form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2{
    text-align: start;
    font-size: 35px;
    text-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);

}
.inputGroup{
    font-size: 25px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: start;
    gap: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.inputGroupInicio{
    font-size: 25px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    gap: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.inputGroup .TerminosyCondiciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.TerminosyCondiciones a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.BTNRegistro{
    font-weight: 900;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    color: whitesmoke;
    cursor: pointer;
    width: 13rem;
    text-align: center;
    Text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
}

.BTNRegistro:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) ;
}


.TieneCuenta p a{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    color: #4e4376;
    font-weight: 900;
    cursor: pointer;
    text-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}




label{
    text-align: start;
}

input, textarea{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 10px 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #cfd9df;
    border: 2px solid black;
    text-align: start;
    color: black;
    font-weight: 900;
    font-size: 17px;
}

